@model IEnumerable<IdentitySvr.Entities.Pocos.ClientPoco>
@{
    ViewData["Title"] = "Clients";
}

<h3>@ViewData["Title"]</h3>

<p></p>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">

                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Clients" asp-action="Clients">Add Client</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Clients" asp-action="Clients">Search</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>



<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>@Html.DisplayNameFor(model => model.ClientUserName)</th>
            <th>@Html.DisplayNameFor(model => model.Secret)</th>
            <th>@Html.DisplayNameFor(model => model.AccessTokenType)</th>
            <th>@Html.DisplayNameFor(model => model.AccessTokenLifeTime)</th>
            <th>@Html.DisplayNameFor(model => model.Role)</th>
            <th>@Html.DisplayNameFor(model => model.ApiScopes)</th>
            <th>@Html.DisplayNameFor(model => model.Enabled)</th>
            <th></th>
        </tr>
    </thead>

    <tbody>



        @foreach (var item in Model)
        {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Id)</td>
            <td>@Html.DisplayFor(modelItem => item.ClientUserName)</td>
            <td>*****</td>
            <td>@Html.DisplayFor(modelItem => item.AccessTokenType)</td>
            <td>@Html.DisplayFor(modelItem => item.AccessTokenLifeTime)</td>
            <td>@Html.DisplayFor(modelItem => item.Role)</td>
            <td>
                @foreach (var scope in item.ApiScopes)
                {
                    @Html.DisplayFor(modelItem => scope.Scope) <br />
                }

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Enabled)
            </td>
            <td><a asp-action="Edit" asp-route-id="@item.Id">Edit</a></td>
        </tr>
        }

    </tbody>
</table>


